.bookingform_maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--header-font);
}
h2 h3 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}
hr {
  min-width: 320px;
  margin-right: 30px;
  opacity: 0.6;
}
.bookingform_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 350px;
}
.bookingform_location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.bookingform_location-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  flex-direction: column;
  margin: 10px 20px;
  padding: 0 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: var(--header-font);
  cursor: pointer;
}
.bookingform_location-option img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  pointer-events: none;
}
.bookingform_location-option input {
  visibility: hidden;
  pointer-events: none;
}
.bookingform_location-option label {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  pointer-events: none;
}
.active {
  background-color: var(--seconday-color);
}
.active label {
  color: white;
}
.bookingform_option {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}
.bookingform_option p {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.bookingform_option-img {
  width: 40px;
  height: 40px;
}
.bookingform_option-input {
  height: 30px;
  width: 300px;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: #edefee;
  border-radius: 10px;
  padding: 5px 10px;
}
.bookingform_option-input:focus {
  border: 1px solid var(--seconday-color);
}
.bookingform_footer {
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.bookingform_option-select {
  height: 40px;
  width: 320px;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: #edefee;
  border-radius: 10px;
  padding: 5px 10px;
}
