.App {
  display: flex;
  text-align: center;
}
h1 {
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64pt;
}
h2 {
  font-family: "Markazi Text";
  font-weight: 400;
  font-size: 40pt;
}
h3 {
  font-family: "Karla";
  font-weight: 900;
  font-size: 20pt;
}
h4 {
  font-family: "Karla";
  font-weight: bold;
  font-size: 18pt;
}
p {
  font-family: "Karla";
  font-weight: 400;
  font-size: 16pt;
}
