@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
.App {
  display: flex;
  text-align: center;
  width: "100vw";
}
h1 {
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64pt;
}
h2 {
  font-family: "Markazi Text";
  font-weight: 400;
  font-size: 40pt;
}
h3 {
  font-family: "Karla";
  font-weight: 900;
  font-size: 20pt;
}
h4 {
  font-family: "Karla";
  font-weight: bold;
  font-size: 18pt;
}
p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16pt;
}

:root {
  --primary-color: #f3cd21;
  --seconday-color: #4b5e57;
  --header-font: "Manrope", sans-serif;
}
.primaryButton {
  background-color: var(--primary-color);
  color: black;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 700;
  font-family: var(--header-font);
  cursor: pointer;
}
.secondaryButton {
  background-color: var(--seconday-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 700;
  font-family: var(--header-font);
  cursor: pointer;
  box-sizing: border-box;
}
.secondaryButton:hover {
  box-shadow: rgba(75, 94, 87, 0.12) 0px 2px 4px 0px,
    rgba(75, 94, 87, 0.32) 0px 2px 16px 0px;
}
.primaryButton:hover {
  box-shadow: rgba(243, 205, 33, 0.12) 0px 2px 4px 0px,
    rgba(243, 205, 33, 0.32) 0px 2px 16px 0px;
}
html {
  scroll-behavior: smooth;
}
